#### Importing neccesary libraries

In [79]:
!pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/cesarfernando/.local/lib/python3.10/site-packages (1.1.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/lib/python3/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: joblib>=1.0.0 in /home/cesarfernando/.local/lib/python3.10/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/cesarfernando/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/lib/python3/dist-packages (from scikit-learn) (1.8.0)

In [80]:
import numpy as np
import sklearn
import matplotlib as mpl
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from termcolor import colored
import seaborn as sns
import warnings
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
warnings.simplefilter('ignore')
import platform
platform.system()

'Linux'

In [81]:
if platform.system() == 'Windows':
    df_test_original = pd.read_csv("test.csv")
    df_train_original = pd.read_csv("train.csv")
elif platform.system() == 'Linux':
    df_test_original = pd.read_csv("/home/cesarfernando/Cesar/Kaggle/Titanic/test.csv")
    df_train_original = pd.read_csv("/home/cesarfernando/Cesar/Kaggle/Titanic/train.csv")

In [82]:
df_test_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [83]:
df_train_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [84]:
y = df_train_original['Survived'] 
X = pd.concat([df_train_original.drop(['Survived'], axis=1), df_test_original]) 
y = y.values

In [85]:
y.shape

(891,)

In [86]:
type(y)

numpy.ndarray

In [87]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1307 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [88]:
X['Embarked'] = X['Embarked'].fillna("C")

In [89]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1309 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [90]:
X['Age'] = X.Age.fillna(X.Age.median())
X['Fare'] = X.Fare.fillna(X.Fare.median())

In [91]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1309 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1309 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1309 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

In [92]:
X = X.drop(['Cabin'], axis=1)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1309 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1309 non-null   float64
 9   Embarked     1309 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 112.5+ KB

In [93]:
numeric = ['Age', 'SibSp', 'Parch', 'Fare']
X_numeric = X[numeric].values
scaler = MinMaxScaler(feature_range=(0, 1))  
X_numeric_minmax = scaler.fit_transform(X_numeric) 
X_numeric_minmax = pd.DataFrame(X_numeric,columns = numeric)

In [94]:
X_numeric_minmax

       Age  SibSp  Parch      Fare
0     22.0    1.0    0.0    7.2500
1     38.0    1.0    0.0   71.2833
2     26.0    0.0    0.0    7.9250
3     35.0    1.0    0.0   53.1000
4     35.0    0.0    0.0    8.0500
...    ...    ...    ...       ...
1304  28.0    0.0    0.0    8.0500
1305  39.0    0.0    0.0  108.9000
1306  38.5    0.0    0.0    7.2500
1307  28.0    0.0    0.0    8.0500
1308  28.0    1.0    1.0   22.3583

[1309 rows x 4 columns]

In [95]:
categoric = ['Pclass', 'Sex', 'Embarked']
for var in categoric:
  print(f'Valores posibles de {var}: \t{X[var].nunique()}')
X_categoric = X[['Pclass', 'Sex', 'Embarked']].values
enc = OneHotEncoder(sparse=False, drop="first") 
X_categoric_onehot = enc.fit_transform(X_categoric) 
encoderFeatureNamesTest = enc.get_feature_names(categoric)
X_categoric_onehot = pd.DataFrame(X_categoric_onehot,columns = encoderFeatureNamesTest)

Valores posibles de Pclass: 	3
Valores posibles de Sex: 	2
Valores posibles de Embarked: 	3

In [96]:
X_categoric_onehot

      Pclass_2  Pclass_3  Sex_male  Embarked_Q  Embarked_S
0          0.0       1.0       1.0         0.0         1.0
1          0.0       0.0       0.0         0.0         0.0
2          0.0       1.0       0.0         0.0         1.0
3          0.0       0.0       0.0         0.0         1.0
4          0.0       1.0       1.0         0.0         1.0
...        ...       ...       ...         ...         ...
1304       0.0       1.0       1.0         0.0         1.0
1305       0.0       0.0       0.0         0.0         0.0
1306       0.0       1.0       1.0         0.0         1.0
1307       0.0       1.0       1.0         0.0         1.0
1308       0.0       1.0       1.0         0.0         0.0

[1309 rows x 5 columns]

In [97]:
X_full = pd.concat([X_numeric_minmax.reset_index(drop=True),X_categoric_onehot.reset_index(drop=True)],axis=1)

In [98]:
X_full

,Age,SibSp,Parch,Fare,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S
0,22.0,1.0,0.0,7.2500,0.0,1.0,1.0,0.0,1.0
1,38.0,1.0,0.0,71.2833,0.0,0.0,0.0,0.0,0.0
2,26.0,0.0,0.0,7.9250,0.0,1.0,0.0,0.0,1.0
3,35.0,1.0,0.0,53.1000,0.0,0.0,0.0,0.0,1.0
4,35.0,0.0,0.0,8.0500,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
1304,28.0,0.0,0.0,8.0500,0.0,1.0,1.0,0.0,1.0
1305,39.0,0.0,0.0,108.9000,0.0,0.0,0.0,0.0,0.0
1306,38.5,0.0,0.0,7.2500,0.0,1.0,1.0,0.0,1.0
1307,28.0,0.0,0.0,8.0500,0.0,1.0,1.0,0.0,1.0
1308,28.0,1.0,1.0,22.3583,0.0,1.0,1.0,0.0,0.0

In [99]:
type(X_full)

pandas.core.frame.DataFrame

In [100]:
X_full.shape

(1309, 9)

In [101]:
X_full_train= X_full.iloc[:891]

X_train_num, X_test_num, y_train_num, y_test_num = train_test_split(X_full_train, 
                                                                    y, 
                                                                    test_size=0.25, 
                                                                    random_state=120)

y_train = y_train_num
y_test = y_test_num

clf_numeric = linear_model.LogisticRegression()
clf_numeric.fit(X_train_num, y_train)
clf_numeric.get_params() 
y_pred = clf_numeric.predict(X_test_num)

In [102]:
acc = accuracy_score(y_test, y_pred)
print(f'Exactitud en prueba {acc}')
print(f'Error en prueba: {1.0 - acc}')

Exactitud en prueba 0.7802690582959642
Error en prueba: 0.21973094170403584

In [103]:
y_pred = clf_numeric.predict(X_train_num)
acc = accuracy_score(y_train, y_pred)
print(f'Exactitud en entrenamiento {acc}')
print(f'Error en entrenamiento: {1.0 - acc}')

Exactitud en entrenamiento 0.8098802395209581
Error en entrenamiento: 0.1901197604790419

In [104]:

data_test = X_full.iloc[891:]
# A Scikit requirement transform the dataframes to arrays
X1 = X_full_train.values
test1 = data_test.values
y1 = y
#clf = tree.DecisionTreeClassifier(max_depth=3)
#clf_numeric = linear_model.LogisticRegression()
#clf.fit(X1, y1)
clf_numeric.fit(X1, y1)
Y_pred1 = clf_numeric.predict(test1)
#Y_pred1 = clf.predict(test1)
df_test_original['Survived'] = Y_pred1
df_test_original[['PassengerId', 'Survived']].to_csv('LogisticREgr.csv', index=False)

In [105]:

data_test = X_full.iloc[891:]
# A Scikit requirement transform the dataframes to arrays
X1 = X_full_train.values
test1 = data_test.values
y1 = y
clf = tree.DecisionTreeClassifier(max_depth=3)
clf.fit(X1, y1)
Y_pred1 = clf.predict(test1)
df_test_original['Survived'] = Y_pred1
df_test_original[['PassengerId', 'Survived']].to_csv('treeDecision.csv', index=False)