#### Importing neccesary libraries

In [41]:
!pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/cesarfernando/.local/lib/python3.10/site-packages (1.1.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/lib/python3/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/lib/python3/dist-packages (from scikit-learn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/cesarfernando/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /home/cesarfernando/.local/lib/python3.10/site-packages (from scikit-learn) (1.1.0)

In [42]:
import numpy as np
import sklearn
import matplotlib as mpl
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from termcolor import colored
import seaborn as sns
import warnings
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
warnings.simplefilter('ignore')
import platform
platform.system()

'Linux'

In [43]:
if platform.system() == 'Windows':
    df_test_original = pd.read_csv("test.csv")
    df_train_original = pd.read_csv("train.csv")
elif platform.system() == 'Linux':
    df_test_original = pd.read_csv("/home/cesarfernando/Cesar/Kaggle/Titanic/test.csv")
    df_train_original = pd.read_csv("/home/cesarfernando/Cesar/Kaggle/Titanic/train.csv")

In [61]:
df_train_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [60]:
df_test_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [44]:
df_full = df_train_original.drop(['Cabin', 'PassengerId'], axis=1) 
df_nona = df_full.dropna(axis=0)
X = df_nona.drop(['Survived'], axis=1) 
y = df_nona['Survived'] 
y = y.values

In [45]:
numeric = ['Age', 'SibSp', 'Parch', 'Fare']
X_numeric = X[numeric].values

In [46]:
categoric = ['Name', 'Ticket', 'Pclass', 'Sex', 'Embarked']
for var in categoric:
  print(f'Valores posibles de {var}: \t{X[var].nunique()}')

Valores posibles de Name: 	712
Valores posibles de Ticket: 	541
Valores posibles de Pclass: 	3
Valores posibles de Sex: 	2
Valores posibles de Embarked: 	3

In [47]:
X_categoric = X[['Pclass', 'Sex', 'Embarked']].values

In [48]:
#scaler = StandardScaler()
#X_numeric_standarized = scaler.fit_transform(X_numeric)

In [49]:
scaler = MinMaxScaler(feature_range=(0, 1))  
X_numeric_minmax = scaler.fit_transform(X_numeric)

In [50]:
enc = OneHotEncoder(sparse=False)     # Declaramos el Transformer "OneHotEncoder".
X_categoric_onehot = enc.fit_transform(X_categoric)

In [51]:
X_full = np.concatenate((X_numeric_minmax, X_categoric_onehot),
                        axis=1)

In [52]:
X_train_num, X_test_num, y_train_num, y_test_num = train_test_split(X_numeric_minmax, 
                                                                    y, 
                                                                    test_size=0.2, 
                                                                    random_state=120)

In [53]:
X_train_full, X_test_full, y_train_full, y_test_full = train_test_split(X_full, 
                                                                        y,
                                                                        test_size=0.25, 
                                                                        random_state=1282)

In [54]:
y_train = y_train_num
y_test = y_test_num

In [55]:
clf_numeric = linear_model.LogisticRegression()

In [58]:
clf_numeric.fit(X_train_num, y_train)
clf_numeric.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [59]:
y_pred = clf_numeric.predict(X_test_num)