<img src = "https://drive.google.com/uc?export=view&id=1WaM3ez8iLaUk3VyWNYZQuifnvbEX4vbK" alt = "Encabezado MLDS" width = "100%">  </img>

#**Tarea 2 - Análisis de datos con *Pandas***
---

Esta tarea le permitirá practicar las habilidades adquiridas usando la librería para el análisis y manipulación de datos *pandas*. Utilizaremos el [dataset de Salarios en San Francisco - SF](https://www.kaggle.com/kaggle/sf-salaries) de *Kaggle*.

El conjunto de datos de salarios de San Francisco cuenta con múltiples variables salariales de los empleados de la ciudad entre $2011$ y $2014$ :

| Variable | Definición	| Valores | 
| --- | --- | --- |
| EmployeeName | 	Nombre del empleado  | 	 |
| JobTitle 	| Título del empleo | |
| BasePay 	| Salario base 	| |
| OvertimePay |	Salario por tiempo extra 	| |
| OtherPay |	Otros pagos salariales 	| |
| Benefits |	Beneficios (Costo de beneficios de salud y pensión) 	| |
| TotalPay |	Salario total del periodo	| |
| TotalPayBenefits |	Salario total más beneficios | |	
| Year 	| Año | |	
| Notes |	Información del registro	| No aplica |
| Agency |	Ciudad de la agencia de empleos |	'San Francisco' |
| Status |	Estado del registro |	No aplica |

> **Nota:** Esta tarea va a ser calificada en la plataforma **[UNCode](https://juezun.github.io/)**. Para esto, en cada ejercicio se indicará si es calificable o no, también los lugares donde debe escribir su código sin modificar lo demás con un aproximado de cantidad de líneas a escribir. No se preocupe si su código toma más líneas, esto es simplemente un aproximado destinado a que pueda replantear su estrategia si el código está tomando más de las esperadas. No es un requisito estricto y soluciones más largas también son válidas. Al finalizar, para realizar el envío (*submission*), descargue el notebook como un archivo **`.ipynb`** y haga su entrega a través de **Moodle**.

Ejecute la siguiente celda para importar *pandas*.

In [2]:
# Importar pandas
import pandas as pd

In [3]:
#TEST_CELL
!python --version
print('Pandas', pd.__version__)

Python 3.7.11
Pandas 1.1.5

Este material fue realizado con las siguientes versiones:

- Python 3.6.9

- Pandas: 1.1.5

Por favor complete las tareas que se detallan a continuación. El nivel de dificultad de las tareas es incremental.

## **0.  Leer el archivo de datos**
---
> **IMPORTANTE:** 

  1. Por favor descargue el archivo con el conjunto de datos desde el siguiente enlace: **[salarios.csv](https://raw.githubusercontent.com/JuezUN/datasets/master/salarios.csv)**. 
  2. En el enlace, haga clic derecho y seleccione la opción **"Guardar como..."**.

  3. Cargue este archivo en su sistema de archivos de **Google Colaboratory**. Para hacer esto:
    
    * Haga clic donde aparece el icono del directorio en la parte izquierda de la ventana en *Google Colaboratory* (resaltado en azul en la siguiente imagen con el número 1).
    * Después, haga clic en el icono **"Subir"** (resaltado en azul en la siguiente imagen con el número 2).
    * Seleccione el archivo **`salarios.csv`** que previamente descargó y haga clic en **"Aceptar"**.

  <img src = "https://drive.google.com/uc?export=view&id=13W59jfdOpAn_DYIjpXt4WPBZiU7BlRGY" alt = "Sistema archivos colab" width = "70%">  </img>

  4. Ejecute la siguiente celda para cargar el conjunto de datos dentro del DataFrame de *pandas* llamado **`sal`**:

In [4]:
### EJECUTAR ESTA CELDA SIN MODIFICARLA. SI FALLA, DEBE SEGUIR EL PROCEDIMIENTO DESCRITO ANTES.
from google.colab import files
import pandas as pd

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))


sal = pd.read_csv('salarios.csv')
## Tarda un poco en cargar, tenga paciencia.
## Puede ver el progreso de la carga en la parte inferior izquierda de la ventana.

Saving salarios.csv to salarios.csv
User uploaded file "salarios.csv" with length 16239776 bytes

> Haga una exploración de las variables con el método **`.info()`**. Asegúrese de tener $148654$ registros. **De lo contrario, es posible que haya ejecutado la celda anterior antes que terminara de cargar el archivo.** Si ese es el caso, deberá **ejecutarla nuevamente** cuando el archivo haya terminado de cargar.

In [ ]:
sal.info() # 148654 registros

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Salida esperada:**
```python
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype  
---  ------            --------------   -----  
 0   Id                148654 non-null  int64  
 1   EmployeeName      148654 non-null  object 
 2   JobTitle          148654 non-null  object 
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64  
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object 
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
```

- Muestre las primeras 5 filas del *DataFrame* para verificar que leyó los datos correctamente.

In [ ]:
sal.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

A continuación se le pedirá que realice varias acciones sobre el *DataFrame* **`sal`**. Por favor siga las instrucciones y no cambie el nombre de las variables o funciones dadas.

## **1. ¿Cuál es el salario base promedio?**
---
Guarde el resultado de esta pregunta en la variable **`salario_promedio`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>
<p>

* La columna que almacena los salarios base en este conjunto de datos es: **`BasePay`**.

In [ ]:
## VARIABLE CALIFICADA: salario_promedio
import pandas as pd
import numpy as np

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)

salario_promedio =sal['BasePay'].mean()
salario_promedio

### FIN DEL CÓDIGO ###
#salario_promedio

66325.44884050643

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
6___5.4__84__0643
```

## **2. ¿Cuál es la mayor cantidad pagada por horas extra?**
---
Guarde el resultado de esta pregunta en la variable **`maximo_pago`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La columna **`OvertimePay`** contiene los valores pagados por concepto de horas extra.
* Recuerde que los nombres de las columnas son susceptibles a mayúsculas y minúsculas. Es diferente **`OvertimePay`** a **`overtimepay`**.

In [ ]:
## VARIABLE CALIFICADA: maximo_pago

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
maximo_pago = sal['OvertimePay'].max()
### FIN DEL CÓDIGO ###
maximo_pago

245131.88

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
24__31._8
```

## **3. ¿Cuál es el cargo de "Lisa Murphy"?** 
---

Guarde el resultado de esta pregunta en la variable **`cargo_lisa`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de "Lisa Murphy" en el *DataFrame* **`sal`**.
* Intente usar selección condicional para obtener el registro deseado. Además, debe quedarse únicamente con la columna del cargo (**`JobTitle`**).

In [ ]:
## VARIABLE CALIFICADA: cargo_lisa
import pandas as pd
import numpy as np

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargo_lisa = sal.loc[sal['EmployeeName'] == 'Lisa Murphy', 'JobTitle']


### FIN DEL CÓDIGO ###

cargo_lisa

72161    Recreation Leader
Name: JobTitle, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):

```python
72___    Rec___tion _e_der
Name: JobTitle, dtype: object
```

## **4. ¿Cuánto gana incluyendo beneficios "John Scott"?**
---

Guarde el resultado de esta pregunta en la variable **`ganancias_john`**.

> **Nota:** esto incluye también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de John Scott en **`sal`**.
* Intente usar selección condicional y seleccionar solo la variable de interés.

In [ ]:
## VARIABLE CALIFICADA: ganancias_john

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
ganancias_john = sal.loc[sal['EmployeeName'] == 'John Scott', 'TotalPayBenefits']

### FIN DEL CÓDIGO ###

ganancias_john

40234    178403.37
Name: TotalPayBenefits, dtype: float64

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
40__4    178__3.37
Name: TotalPayBenefits, dtype: float64
```

## **5. ¿Cuál es el nombre de la persona que más gana?**
---
Guarde el resultado de esta pregunta en la variable **`max_pers_gana`**.

> **Nota:** considerando también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de la persona en **`sal`**.
* Utilice indexado condicional en filas y selección de columnas para obtener la serie deseada.

In [ ]:
## VARIABLE CALIFICADA: max_pers_gana

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
max_pers_gana = sal.loc[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max(), 'EmployeeName']

### FIN DEL CÓDIGO ###

max_pers_gana

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
_    NA_____EL __RD
Name: EmployeeName, dtype: object
```

## **6. ¿Cuál es el cargo de la persona que menos gana?**
---

Guarde el resultado de esta pregunta en la variable **`min_cargo_gana`**.

> **Nota:** considerando también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de la persona en **`sal`**.
* Utilice indexado condicional en filas y selección de columnas para obtener la serie deseada.

In [ ]:
## VARIABLE CALIFICADA: min_pers_gana
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
min_cargo_gana = sal.loc[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min(), 'JobTitle']
### FIN DEL CÓDIGO ###
min_cargo_gana

148653    Counselor, Log Cabin Ranch
Name: JobTitle, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
14___3    Co____lor, Lo_ _abin Ra__h
Name: JobTitle, dtype: object
```

## **7. ¿Cuál es el salario base promedio de todos los empleados por año?**
---

Guarde el resultado de esta pregunta en la variable **`sal_base_prom`**.

> **Nota:** El cálculo se realiza en los años $2011$ a $2014$, la salida tiene que ser de tipo **`pd.Series`** o **`pd.DataFrame`** y los índices deben corresponder al año.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo **`pd.Series`** o **`pd.DataFrame`** con el índice siendo el año y el valor promedio del año como contenido.
* Verifique el tipo de dato obtenido en cada acción. En muchos casos el objeto retornado tras realizar una operación es un objeto válido de *pandas* sobre el que se pueden hacer más operaciones.
* Puede verificar (en una celda aparte) que el tamaño del objeto resultante **`sal_base_prom.shape`** sea **`(4,1)`** o **`(4,)`**.

In [ ]:
## VARIABLE CALIFICADA: sal_base_prom
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
#sal_base_prom = sal.groupby('Year').agg({'TotalPayBenefits':mean()})
sal_base_prom = sal.groupby('Year').apply(lambda sal: sal['BasePay'].mean())   
### FIN DEL CÓDIGO ###
sal_base_prom

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
dtype: float64

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
Year
2011    63___.___517
2012    65___.___857
2013    69___.___216
2014    66___.___924
Name: BasePay, dtype: float64
```

## **8. ¿Cuántos cargos únicos distintos existen?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_unicos`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* No es necesario realizar el conteo con múltiples operaciones. Uno de los métodos presentados en la guía realiza esta tarea.

In [ ]:
## VARIABLE CALIFICADA: cargos_unicos

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_unicos = sal['JobTitle'].unique()
cargos_unicos = len(cargos_unicos)


### FIN DEL CÓDIGO ###

cargos_unicos

2159

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
2__9
```

## **9. ¿Cuáles son los 5 cargos más comunes?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_comunes`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debería contener un objeto *Series*, con el índice correspondiendo al nombre del cargo, y la frecuencia de dicho cargo en su valor.

In [ ]:
## VARIABLE CALIFICADA: cargos_comunes

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_comunes = sal['JobTitle'].value_counts()
cargos_comunes = cargos_comunes[0:5]



### FIN DEL CÓDIGO ###

cargos_comunes

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
Tr___it Op___tor                7__6
Sp___al Nu___                   4__9
Re___tered Nu___                3__6
Pu___c Svc Ai___Pu___c Wo___    2__8
Po___e Of___er 3                2__1
Name: JobTitle, dtype: int64
```

## **10. ¿Cuántos cargos estaban ocupados solamente por una persona en 2013?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_una_pers`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debería contener un número entero.
* Intente combinar métodos de entendimiento de datos con selección condicional.
* Puede usar la suma **`sum`** para contar el total de valores **`True`** en un arreglo de valores booleanos.

In [ ]:
## VARIABLE CALIFICADA: cargos_una_pers

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_una_pers = sal[sal['Year'] == 2013]
cargos_una_pers = cargos_una_pers.groupby('JobTitle').apply(lambda cargos_una_pers: cargos_una_pers['JobTitle'].value_counts() == 1).sum()
### FIN DEL CÓDIGO ###

cargos_una_pers

202

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
2_2
```

## **11. ¿Cuántas personas tienen la palabra 'Chief' en su cargo?**
---

Guarde el resultado de esta pregunta en la variable **`total_chief`**.

**Nota:** Es probable que tenga que implementar una función adicional.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Puede definir una función para detectar la palabra **`'chief'`** y aplicarla en el *DataFrame*. Para esto puede necesitar funciones sobre [cadenas de texto](https://www.w3schools.com/python/python_ref_string.asp) de *Python*.
* Si se realiza una operación matemática como la suma en valores booleanos se cuentan como 0 (**`False`**) y 1 (**`True`**).

In [10]:
## VARIABLE CALIFICADA: total_chief
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 6 líneas de código)
def chief_string(title):
  c = pd.DataFrame(title)
  c = c['JobTitle'].str.lower()
  c = c.str.split()
  c = c.str.contains( 'chief,', regex=False)+c.str.contains( 'chief', regex=False)
  # Implemente esta función: debe retornar True si la palabra "chief" 
  # (sin importar mayúsculas o minúsculas) está dentro de la cadena dada "title".
  # De lo contrario, debe retornar False.
  return c

  
# Utilice la función anterior para cada uno de los elementos en la columna "JobTitle",
# y posteriormente, obtenga el número de valores en True. (NO MODIFIQUE EL DATAFRAME ORIGINAL)
total_chief = chief_string(sal['JobTitle']).sum()
### FIN DEL CÓDIGO ###
total_chief

0.0

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
6_7
```

## **12. ¿Cuáles son los 10 apellidos más comunes?**
---
Guarde el resultado de esta pregunta en la variable **`apellido_comun`**. Para simplificar las cosas, vamos a asumir que la última palabra en la cadena **`EmployeeName`** corresponde al apellido de la persona. Debe retornar los 10 apellidos más comunes escritos en **mayúsculas**, junto con sus frecuencias.

> **Nota:** Es probable que tenga que implementar una función adicional.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Puede usar la función **`apply`** para aplicar una función a cada uno de los elementos en una columna. 
* Puede definir una función para separar el nombre completo y convertirlo en mayúscula para aplicarla luego sobre el *DataFrame*. Para esto puede necesitar funciones sobre [cadenas de texto](https://www.w3schools.com/python/python_ref_string.asp) de *Python*.
* Solo nos interesan dos variables, por lo que debería realizar una selección previa de las características.

In [8]:
## VARIABLE CALIFICADA: apellido_comun

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 6 líneas de código)
def apellido_mayuscula(name):
  #c = pd.DataFrame(name)
  #c = c['EmployeeName'].str.split(" ").str.get(-1).value_counts()
  # Implemente esta función: debe retornar la última palabra, 
  # separando por espacio de la cadena "name" dada. 
  return name.split()[-1].upper()
# Utilice la función anterior para cada uno de los elementos en la columna "EmployeeName"
# y obtenga los 10 apellidos más comunes. (NO MODIFIQUE EL DATAFRAME ORIGINAL)
#apellido_comun = apellido_mayuscula(sal['EmployeeName'])
apellido_comun = sal['EmployeeName'].apply(apellido_mayuscula).value_counts().iloc[0:10]
### FIN DEL CÓDIGO ###

apellido_comun

WONG        1859
JR          1835
LEE         1834
CHAN        1162
JOHNSON      771
WILLIAMS     705
SMITH        678
CHEN         608
JONES        591
NG           559
Name: EmployeeName, dtype: int64

La salida de la celda anterior debería ser:
```python
W__G        1__9
J_          1__5
LE_         1__4
C__N        1__2
JO___ON      7_1
WI___AMS     7_5
SM__H        6_8
CH__         6_8
JO__S        5_1
N_           5_9
Name: EmployeeName, dtype: int64
```

**¡Felicitaciones!** Esta tarea fue más retadora. ¡Muy buen trabajo!

## **Entrega**

Para entregar el notebook por favor haga lo siguiente:
1. Descargue el notebook (`Archivo` -> `Descargar .ipynb`).
2. Ingrese a Moodle.
3. Realice el envío del *notebook* que descargó en la tarea (o quiz) correspondiente.
4. Recuerde que si tiene algún error, puede hacer múltiples intentos de envío en UNCode.

## **Créditos**
---

* **Profesor:** [Felipe Restrepo Calle](https://dis.unal.edu.co/~ferestrepoca/)
* **Asistentes docentes:**
  - Cristian David González Carrillo
  - Alberto Nicolai Romero Martínez
  - Miguel Angel Ortiz Marín

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*